<head>
    <link rel="stylesheet"type="text/css" href="stylesheets/main.css"></link>
  </head>
      <body>
        <main>
         
  
          <div class="=container">
            <div class="row">
              <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="product">
                        <div class="text-center">
                          <br>
                          <img src="image/benz.jpg" class="img-fluid"/>
                        </div>
                        <h3 style="text-align: center;">car</h3>
                        <div style="text-align: center;">Price : <strong>768677</strong></div>
                        <br>
                        <p style="text-align: center;"></p>
                      </div>
                    </div>
                  </div>
  
              </div>
            </div>
          </div>
        </main>
      </body>